spring:
  application:
    name: CONFIG-PROD
eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    enabled: true
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}
